
/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 16px/1.4 $helvetica;
  display: block;
  color: $textColor;
  overflow-x: hidden;
  background-color: $background;
}
a {
  text-decoration: none;
  color: $primary;

  &,
  &:focus,
  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active {
      color: $secondary;
    }
  }
}
*:focus {
  outline: none !important
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  font-weight: bold;

  line-height: 1.7;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}


ul, ol {
  list-style: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  font-size: .9em;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

